.container{
    background-color: rgb(10, 220, 150);
    min-height: 100vh;
 
}
.orange-border{
    border: 10px solid rgb(222, 92, 18);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    max-width: 900px;
    margin: 0 auto;
}

.top_section{
    display: flex;
    margin-top: 100px;
    justify-content: space-between; 
 
}
.top section h1{
    font-size: 60px;
    font-weight: bold;
    color: #b317ab;
    text-transform: uppercase;
}

.image_container,
img{
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 260px;
}



